*{
    margin:0;
    padding:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
marquee{
    color: limegreen;
}
#top{
    height:30px;
    padding: 10px;
    width:100%-30px;
    background-color:rgb(18, 62, 138);
    font-weight: bolder;
    font-size:x-large;
    color:yellow;
    font-style: italic;
    text-align:center;
}
#tt{
    text-align: center;
    background-color: aqua;
}
#shape{
    width:100px;
    height:100px;
    background-color: black;
    display:none;
    position: relative;
    top:0px;
    left:0px;
    color:beige;
    text-align: center;
}